.cardContainer {
  max-width: 40rem;
  max-height: 40rem;
  margin: 2rem auto;
}

.cardImages {
  width: 8rem;
}

.cardImages:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.imageContainer {
  text-align: center;
}
.gameDisplayBox {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* TODO: Create auto-resizing of images for different window sizes */
